<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>188208814441-3l3lf7jor29fle2vcgse83ck3jgpnijj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAI8w1jv8UE8Xcn6OjGn6mdUS8zXys6q5o</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.mobile</string>
	<key>CLIENT_ID</key>
	<string>188208814441-v2nphv6ree54ij5jo4b33d12lj3us8df.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>188208814441</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:188208814441:ios:5ee999eaf7b02d9dad05f8</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>nutridine</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188208814441-v2nphv6ree54ij5jo4b33d12lj3us8df</string>
	<key>STORAGE_BUCKET</key>
	<string>nutridine.appspot.com</string>
</dict>
</plist>
